USE [master]
GO
/****** Object:  Database [finalis_jti]    Script Date: 03/12/2024 19:06:01 ******/
CREATE DATABASE [finalis_jti]
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [finalis_jti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [finalis_jti]
GO
/****** Object:  Schema [BERKAS]    Script Date: 03/12/2024 19:06:02 ******/
CREATE SCHEMA [BERKAS]
GO
/****** Object:  Schema [USERS]    Script Date: 03/12/2024 19:06:02 ******/
CREATE SCHEMA [USERS]
GO
/****** Object:  Schema [VER]    Script Date: 03/12/2024 19:06:02 ******/
CREATE SCHEMA [VER]
GO
/****** Object:  Table [BERKAS].[Prodi]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BERKAS].[Prodi](
	[id_berkas_prodi] [varchar](10) NOT NULL,
	[nim] [varchar](12) NOT NULL,
	[tanggal_request] [date] NULL,
	[toeic] [varchar](max) NOT NULL,
	[distribusi_skripsi] [varchar](max) NOT NULL,
	[distribusi_magang] [varchar](max) NOT NULL,
	[surat_bebas_kompen] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_berkas_prodi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [BERKAS].[TA]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BERKAS].[TA](
	[id_ta] [varchar](10) NOT NULL,
	[nim] [varchar](12) NOT NULL,
	[tanggal_request] [date] NULL,
	[laporan_TA] [varchar](max) NOT NULL,
	[aplikasi] [varchar](max) NOT NULL,
	[bukti_publikasi] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [BERKAS].[Tanggungan]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BERKAS].[Tanggungan](
	[id_tanggungan] [int] IDENTITY(1,1) NOT NULL,
	[nim] [varchar](12) NOT NULL,
	[jenis_tanggungan] [varchar](20) NOT NULL,
	[status_tanggungan] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tanggungan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [USERS].[Admin]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USERS].[Admin](
	[id_admin] [varchar](12) NOT NULL,
	[nama_lengkap] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[jabatan] [varchar](20) NOT NULL,
	[foto_profil] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [USERS].[Mahasiswa]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [USERS].[Mahasiswa](
	[nim] [varchar](12) NOT NULL,
	[nama_lengkap] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[jurusan] [varchar](50) NOT NULL,
	[prodi] [varchar](30) NOT NULL,
	[foto_profil] [varchar](max) NULL,
	[tahun_masuk] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [VER].[LogAktivitas]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VER].[LogAktivitas](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[id_admin] [varchar](12) NOT NULL,
	[tindakan] [varchar](50) NOT NULL,
	[deskripsi] [varchar](max) NOT NULL,
	[target_id] [varchar](20) NOT NULL,
	[status_sebelumnya] [varchar](50) NOT NULL,
	[status_sesudahnya] [varchar](50) NOT NULL,
	[waktu_aktivitas] [datetime] NOT NULL,
	[jenis_berkas] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [VER].[Notifikasi]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VER].[Notifikasi](
	[id_notifikasi] [int] IDENTITY(1,1) NOT NULL,
	[pesan] [varchar](255) NOT NULL,
	[id_admin] [varchar](12) NOT NULL,
	[nim] [varchar](12) NOT NULL,
	[jenis_notifikasi] [varchar](20) NOT NULL,
	[status_notifikasi] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_notifikasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [VER].[VerifikasiBerkas]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [VER].[VerifikasiBerkas](
	[id_verifikasi] [int] IDENTITY(1,1) NOT NULL,
	[id_berkas] [varchar](10) NOT NULL,
	[jenis_berkas] [varchar](20) NOT NULL,
	[id_admin] [varchar](12) NOT NULL,
	[status_verifikasi] [varchar](50) NOT NULL,
	[tanggal_verifikasi] [date] NOT NULL,
	[keterangan_verifikasi] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_verifikasi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [BERKAS].[Prodi] ADD  DEFAULT (getdate()) FOR [tanggal_request]
GO
ALTER TABLE [BERKAS].[TA] ADD  DEFAULT (getdate()) FOR [tanggal_request]
GO
ALTER TABLE [VER].[LogAktivitas] ADD  DEFAULT (getdate()) FOR [waktu_aktivitas]
GO
ALTER TABLE [VER].[VerifikasiBerkas] ADD  DEFAULT (getdate()) FOR [tanggal_verifikasi]
GO
ALTER TABLE [BERKAS].[Prodi]  WITH CHECK ADD FOREIGN KEY([nim])
REFERENCES [USERS].[Mahasiswa] ([nim])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [BERKAS].[TA]  WITH CHECK ADD FOREIGN KEY([nim])
REFERENCES [USERS].[Mahasiswa] ([nim])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [BERKAS].[Tanggungan]  WITH CHECK ADD FOREIGN KEY([nim])
REFERENCES [USERS].[Mahasiswa] ([nim])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [VER].[LogAktivitas]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [USERS].[Admin] ([id_admin])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [VER].[Notifikasi]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [USERS].[Admin] ([id_admin])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [VER].[Notifikasi]  WITH CHECK ADD FOREIGN KEY([nim])
REFERENCES [USERS].[Mahasiswa] ([nim])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [VER].[VerifikasiBerkas]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [USERS].[Admin] ([id_admin])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [BERKAS].[Tanggungan]  WITH CHECK ADD CHECK  (([jenis_tanggungan]='Tanggungan Prodi' OR [jenis_tanggungan]='Tanggungan TA'))
GO
ALTER TABLE [BERKAS].[Tanggungan]  WITH CHECK ADD CHECK  (([status_tanggungan]='Belum Selesai' OR [status_tanggungan]='Selesai'))
GO
ALTER TABLE [USERS].[Admin]  WITH CHECK ADD CHECK  (([jabatan]='Admin Jurusan' OR [jabatan]='Admin TA' OR [jabatan]='Admin Prodi'))
GO
ALTER TABLE [USERS].[Mahasiswa]  WITH CHECK ADD CHECK  (([jurusan]='Teknik Kimia' OR [jurusan]='Teknik Mesin' OR [jurusan]='Teknik Elektro' OR [jurusan]='Akuntansi' OR [jurusan]='Administrasi Niaga' OR [jurusan]='Teknologi Informasi'))
GO
ALTER TABLE [USERS].[Mahasiswa]  WITH CHECK ADD CHECK  (([prodi]='D2 Pengembangan Piranti Lunak Situs' OR [prodi]='D4 Sistem Informasi Bisnis' OR [prodi]='D4 Teknik Informatika'))
GO
ALTER TABLE [VER].[Notifikasi]  WITH CHECK ADD CHECK  (([jenis_notifikasi]='Tanggungan Prodi' OR [jenis_notifikasi]='Tanggungan TA'))
GO
ALTER TABLE [VER].[Notifikasi]  WITH CHECK ADD CHECK  (([status_notifikasi]='Belum Dibaca' OR [status_notifikasi]='Dibaca'))
GO
ALTER TABLE [VER].[VerifikasiBerkas]  WITH CHECK ADD CHECK  (([jenis_berkas]='Prodi' OR [jenis_berkas]='TA'))
GO
ALTER TABLE [VER].[VerifikasiBerkas]  WITH CHECK ADD CHECK  (([status_verifikasi]='Ditolak' OR [status_verifikasi]='Disetujui' OR [status_verifikasi]='Diajukan'))
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertBerkasProdi]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertBerkasProdi]
    @nim VARCHAR(12),
    @toeic VARCHAR(MAX),
	@distribusi_skripsi VARCHAR(MAX),
	@distribusi_magang VARCHAR(MAX),
	@surat_bebas_kompen VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @last_id VARCHAR(10);
    DECLARE @new_id VARCHAR(10);
    DECLARE @next_number INT;

    SELECT @last_id = MAX(id_berkas_prodi) FROM BERKAS.Prodi;

    SET @next_number = ISNULL(CAST(SUBSTRING(@last_id, 3, LEN(@last_id) - 2) AS INT), 0) + 1;

    SET @new_id = 'PR' + RIGHT('0000' + CAST(@next_number AS VARCHAR), 4);

    INSERT INTO BERKAS.Prodi (id_berkas_prodi, nim, toeic, distribusi_skripsi, distribusi_magang, surat_bebas_kompen)
    VALUES (@new_id, @nim, @toeic, @distribusi_skripsi, @distribusi_magang, @surat_bebas_kompen);

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertBerkasTA]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertBerkasTA]
    @nim VARCHAR(12),
    @laporan_TA VARCHAR(MAX),
    @aplikasi VARCHAR(MAX),
    @bukti_publikasi VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @last_id VARCHAR(10);
    DECLARE @new_id VARCHAR(10);
    DECLARE @next_number INT;

    SELECT @last_id = MAX(id_ta) FROM BERKAS.TA;

    SET @next_number = ISNULL(CAST(SUBSTRING(@last_id, 3, LEN(@last_id) - 2) AS INT), 0) + 1;

    SET @new_id = 'TA' + RIGHT('0000' + CAST(@next_number AS VARCHAR), 4);

    INSERT INTO BERKAS.TA (id_ta, nim, laporan_TA, aplikasi, bukti_publikasi)
    VALUES (@new_id, @nim, @laporan_TA, @aplikasi, @bukti_publikasi);

END;
GO
/****** Object:  StoredProcedure [VER].[sp_InsertVerifikasiBerkas]    Script Date: 03/12/2024 19:06:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [VER].[sp_InsertVerifikasiBerkas]
    @id_berkas VARCHAR(10),
    @jenis_berkas VARCHAR(20),
    @id_admin VARCHAR(12),
    @status_verifikasi VARCHAR(50),
    @keterangan_verifikasi VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    IF @jenis_berkas = 'TA' AND NOT EXISTS (SELECT 1 FROM BERKAS.TA WHERE id_ta = @id_berkas)
    BEGIN
        RAISERROR('ID Berkas tidak valid untuk jenis TA', 16, 1);
        RETURN;
    END;

    IF @jenis_berkas = 'Prodi' AND NOT EXISTS (SELECT 1 FROM BERKAS.Prodi WHERE id_berkas_prodi = @id_berkas)
    BEGIN
        RAISERROR('ID Berkas tidak valid untuk jenis Prodi', 16, 1);
        RETURN;
    END;

    INSERT INTO VER.VerifikasiBerkas (id_berkas, jenis_berkas, id_admin, status_verifikasi, tanggal_verifikasi, keterangan_verifikasi)
    VALUES (@id_berkas, @jenis_berkas, @id_admin, @status_verifikasi, GETDATE(), @keterangan_verifikasi);
END;
GO
USE [master]
GO
