:root {
    --color-navy-blue: #052C65;
    --color-soft-blue: #E4EEFF;
    --color-light-gray: #8D8D8D;
    --color-golden-yellow: #F7DE00;
    --color-green-success: #31E200;
    --color-red-failed: #FF0000;
}

* {
    font-family: 'Reddit Sans', 'Roboto', 'Arial', sans-serif;
}

h1,
h2,
h3 {
    color: var(--color-navy-blue);
}

th {
    background-color: var(--color-soft-blue) !important;
}

.btn-secondary {
    border: 1px solid #052C65;
    background: white;
    color: black;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}